@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{
	margin: 0,5;
	padding: 1;
}

body{
	background - color: #0000;
	font-family:"Montserrat", sans-serif;
}


header {
	border-bottom: 5px solid darkred;
	height: 80px;

}


h1{
	color:black;
	margin-top:20px;
}

.bordo{
	color:darkred;
}

h2{
	color:black;

}

a{
	color: darkred;
	text-decoration: none;
}

.img{
	border-radius: 10px;
}

.flotariz{
	float: left;
}

.flotarde{
	float:right;
	padding:20px;
}
.espacio{
	margin-right: 15px;
}

section {
  width: 100%;
  height: 500px;
}

#iz {
  width: 40%;
  height: 500px;
  float: left;
  margin-top: 100px;
}


#de {
  width: 60%;
  height:500px;
  float: right;
  margin-top: 180px;
}

#rectangulo{
	position: relative;
	width: 400px;
	height: 200px;
	background-color:#e55039 ;
	margin: 30px;
	padding: 30px;
	border-radius: 5%;
}

#rectangulo1{
	position: relative;
	width: 400px;
	height: 250px;
	background-color:#e55039 ;
	margin: 30px;
	padding: 30px;
	border-radius: 5%;
}

.titulo-grande{
	font-size: 35px;
	color:darkred;
}


footer {
	width: 100%;
  background-color: darkred;
  padding: 15px 0px;
  text-align: center;
  font-size: 14px;
  color:whitesmoke;
  clear: both;
}



